.main-menu {
    position: fixed;
    float: left;
}

/* LOGO */

.name {
    display: flex;
    font-size: 2rem;
    font-weight: 300;
    padding: 10px;
    margin-bottom: 18vh;
    letter-spacing: 8px;
    /* background-color: #0eaa8e;
    color: #1a1a1a; */
}

/* ITEM */

.main-menu-item {
    padding: 20px;
}

.main-menu-item:hover {
    cursor: pointer;
}

.main-menu-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
}

.bullet {
    margin-top: 5px;
    height: 3px;
    border-radius: 1px;
    background: #25d1b2;
    transition: all 0.25s;
}

.display-text {
    font-size: 1.3rem;
    color: #0eaa8e;
}