.language-button {
    user-select: none;

    position: fixed;

    z-index: 10;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	border-radius: 50px;
	text-align: center;

    border: 3px inset #3bc818;
    cursor: pointer;
    transition: all 0.8s;
}

.label {
    margin-top: 10px;
}

.language-button:hover {
    transition: all 0.33s;
    filter: invert(90%);
}