.redirect-button {
    display: inline-flex;
    position: relative;
    padding-left: 10px;
}

#redirect-icon:hover {
    fill: #27a48d;
    transition: all 0.33s;
    filter: invert(90%);
    cursor: pointer;
}