
.tag-box {
    user-select: none;
    display: flex;
    margin: 3px;
    padding: 2px;
    border-radius: 9px;
    
    background: rgba(14, 170, 141, 0.042);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.tag {
    background-color: #0eaa8d6e;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    color: #2d2d2d;
    font-weight: 500;
    border-radius: 18px;
    border: 2px solid #27a48d;
    filter: drop-shadow(0 0 5px #27a48daa);
    letter-spacing: 1.4%;
}