
.tag-box {
    user-select: none;
    display: flex;
    margin: 3px;
    padding: 2px;
    border-radius: 9px;
    box-shadow: solid 2px 1px 5px #27a48d21;
    justify-content: center;
}

.tag {
    background-color: #0eaa8d6e;
    padding: 5px 10px 5px 10px;
    margin: 5px 3px;

    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-justify: center;
    
    border-radius: 18px;
    border: 0.1rem solid #27a48d;
}