.collapsible-content {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.8s ease;
}

.collapsible-content.is-collapsed {
    max-height: 0;
}

.collapsible-button {
    user-select: none;
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 19px;
    border: 2px inset #3bc818;
    transition: filter 0.8s;

}

.collapsible-button:hover {
    filter: invert(90%);
    transition: all 0.33s;
    transition: filter 0.8s;
}

.icon {
    position: absolute;
    inset: 0;
    transition: transform 0.33s ease;
}

.collapsible-button.is-open .icon {
    transform: rotate(0deg);
}

.collapsible-button.is-open .icon {
    transform: rotate(180deg);
}
