.scroll-hint {
  position: fixed;
  top: 50vw;
  left: 50vw;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.4s ease;
  pointer-events: none;
  width: 24px;
  height: 24px;
  animation: fade-in 10s ease-out 3s 1 normal both;
}

svg {
  animation: bounce 1.4s infinite ease-in-out;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(8px); }
  100% { transform: translateY(0); }
} 

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	30% {
		opacity: 1;
		transform: scale(1);
	}

  35% {
		opacity: 0.3;
		transform: scale(1);
	}

  40% {
		opacity: 1;
		transform: scale(1);
	}

  50% {
		opacity: 1;
		transform: scale(1);
	}

  55% {
		opacity: 0.3;
		transform: scale(1);
	}

  60% {
		opacity: 1;
		transform: scale(1);
	}

  90% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}

@media (min-width: 1024px) {
  .scroll-hint {
    display: none;
  }
}