.skillRadar {
    margin: 40px 0;
}

.skillList {
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skillHeader {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 4px;
}

.skillDescription {
    opacity: 0.7;
}

.skillBarBackground {
    position: relative;
    height: 10px;
    background: #111111a1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    overflow: hidden;
}

.skillBarFill {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(14, 170, 141, 0.5), rgba(25, 178, 114, 0.5), #25B953ff, #30C136ff, #3BC818ff);
    transform-origin: left center;
    width: 0;
}

.skillBarFill.animate {
    animation: organicGrow 3.33s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

@keyframes organicGrow {
    0% {
        width: 0;
        transform: scaleY(0.7);
    }
    60% {
        width: var(--targetWidth);
        transform: scaleY(1.05);
    }
    100% {
        width: var(--targetWidth);
        transform: scaleY(1);
    }
}
