#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 2rem 2rem 2rem;
}

.areas {
  display: flow-root;
}

@media (min-width: 1024px) {
  #root {
    max-width: 50vw;
  }
}

@media (min-width: 1024px) {
  .areas {
    margin-left: 200px;
  }
}