@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=New+Amsterdam&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #afe0d7;
  background-color: #242424;
  /* background-image: url("https://miro.medium.com/v2/resize:fit:4800/format:webp/0*7VyEZgzwUhQMeBqb"); */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 7px;
  background: linear-gradient(145deg, #272727, #202020);
  box-shadow:  2px 2px 3px #1b1b1b,
              -2px -2px 3px #2d2d2d;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: linear-gradient(145deg, #29bda2, #0d9980);
  border: solid #2d2d2d 2px;
}


::-webkit-scrollbar-thumb:hover {
  border-color: #2d2d2d;
  background: linear-gradient(145deg, #29bda288, #0d997f86);
}

::-moz-selection {
    background: #27a48d;
    color: #242424;
}

::selection {
    background: #27a48d;
    color: #242424;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}