:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #afe0d7;
  background-color: #242424;
  /* background-image: url("https://miro.medium.com/v2/resize:fit:4800/format:webp/0*7VyEZgzwUhQMeBqb"); */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 7px;
  background: linear-gradient(145deg, #272727, #202020);
  box-shadow:  2px 2px 3px #1b1b1b,
              -2px -2px 3px #2d2d2d;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: linear-gradient(145deg, #29bda2, #0d9980);
  border: solid #2d2d2d 2px;
}


::-webkit-scrollbar-thumb:hover {
  border-color: #2d2d2d;
  background: linear-gradient(145deg, #29bda288, #0d997f86);
}

::-moz-selection {
    background: #27a48d;
    color: #242424;
}

::selection {
    background: #27a48d;
    color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
}

button:hover {
  border-color: #27a48d;
  filter: drop-shadow(0 0 2em #27a48daa);
  transition: all 0.33s;
  cursor: pointer;
}
