
.box {
    display: flex;
    z-index: 9;
    margin-top: 60px;
    margin-bottom: 60px;
    background: rgba(14, 170, 141, 0.042);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(14, 170, 142, 0.44);
    transition: all 0.33s ease;
}

.box:hover {
    transform: translate(5px, -5px);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}

.info {
    padding: 10px 15px;
    width: 100%;
}

.info-header {
    display: flex;
    user-select: none;
    padding: 10px  30px 10px 40px;
    justify-content: center;
}

.company {
    font-size: 20px;
    font-weight: 600;
    padding-right: 30px;
    letter-spacing: 1.4%;
    word-spacing: 2%;
}

.role {
    letter-spacing: 1.4%;
    word-spacing: 2%;
    letter-spacing: 3px;
}